body {
    background-color: rgb(203, 56, 56);
    color: aliceblue;
    margin: 0px;
}

.title-container {
    background-color: rgb(70, 139, 70);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-family: Apple Chancery, cursive;
}

.title {
    font-size: 33px;
}

.key-containter {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 30px;
    padding: 10px;
}

.christmas-pudding-picture,
.mistletoe-picture,
.candy-cane-picture {
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.christmas-pudding,
.mistletoe,
.candy-cane {
    font-family: Apple Chancery, cursive;
}

.CP-key,
.M-key,
.CC-key {
    padding: 18px;
}
