body {
    background-color: rgb(203, 56, 56);
    color: aliceblue;
    margin: 0px;
}
/*title section */
.title-container {
    background-color: rgb(70, 139, 70);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-family: Apple Chancery, cursive;
}

.title {
    font-size: 33px;
}

/*key section */
.key-containter {
    background-color: rgb(70, 139, 70);
    display: flex;
    text-align: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    padding: 10px;
}

.christmas-pudding-picture,
.mistletoe-picture,
.candy-cane-picture {
    height: 80px;
    width: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.christmas-pudding,
.mistletoe,
.candy-cane {
    font-family: Apple Chancery, cursive;
}

.CP-key,
.M-key,
.CC-key {
    padding: 10px;
}

/*player game section */

.game-title {
    text-align: center;
    font-family: Apple Chancery, cursive;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 0px;
}

.game-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 30px;
}

.christmas-pudding-picture1,
.mistletoe-picture1,
.candy-cane-picture1 {
    height: 110px;
    width: 110px;
    padding-bottom: 20px;
    padding-top: 2px;
    padding-left: 18px;
    padding-right: 18px;
}

/*snow section */
.material-icons-container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px;
}

/*computer game section */

.computer-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 30px;
}

.game-title2 {
    text-align: center;
    font-family: Apple Chancery, cursive;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.christmas-pudding-picture2,
.mistletoe-picture2,
.candy-cane-picture2 {
    height: 110px;
    width: 110px;
    padding-bottom: 20px;
    padding-top: 2px;
    padding-left: 18px;
    padding-right: 18px;
}

/*results section */
.results-section {
    background-color: rgb(70, 139, 70);
    margin-bottom: 0px;
}

.results {
    text-align: center;
    font-family: Apple Chancery, cursive;
    font-size: 25px;
}