body {
    background-color: rgb(203, 56, 56);
    color: aliceblue;
    margin: 0px;
}

.title-container {
    background-color: rgb(70, 139, 70);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-family: Apple Chancery, cursive;
}

.title {
    font-size: 33px;
}

.key-containter {
    display: inline-block;
    text-align: center;
    background-color: rgb(70, 139, 70);
    margin: 30px;
    border-radius: 30px;
    padding: 10px;
}

.christmas-pudding-picture,
.mistletoe-picture,
.candy-cane-picture {
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.christmas-pudding,
.mistletoe,
.candy-cane,
.key-description {
    font-family: Apple Chancery, cursive;
}

.key-description {
    font-size: 25px;
    text-decoration: underline;
}